body {
    font-family: "Poppins", sans-serif;
}

.step-wizard {
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-wizard-list{
    background: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.step-wizard-item{
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}
/* LINEA VERDE CLARA */
.step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 40px;
    background: #DFFFEA;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}
.progress-count{
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: transparent;
}
/* Circulo del tick pasado */
.progress-count:after{
    content: "";
    height: 40px;
    width: 40px;
    background: #04B440;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
/*TICK*/
.success.progress-count:before{
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}

/* Círculo rojo */
.cancel.progress-count {
  position: relative;
  width: 40px; /* Ancho del contenedor */
  height: 40px; /* Altura del contenedor */
  background: #F8285A;
  border: 2px solid #F8285A; /* Borde del contenedor con el color de la cruz */
  border-radius: 50%; /* Hacerlo circular */
}

/* Cruz blanca */
.cancel.progress-count:before,
.cancel.progress-count:after {
  content: '';
  position: absolute;
  height: 3px; /* Grosor de la cruz */
  width: 90%; /* Longitud de la cruz */
  background-color: #fff; /* Color blanco */
  top: 50%;
  left: 50%;
  transform-origin: center;
}

/* Configuración de la cruz blanca */
.cancel.progress-count:before {
  transform: translate(-50%, -50%) rotate(45deg); /* Angulo de la primera línea */
}

.cancel.progress-count:after {
  transform: translate(-50%, -50%) rotate(-45deg); /* Angulo de la segunda línea */
}

/*Label */
.progress-label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
/*tick siguientes esconderlos*/
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before{
    display: none;
}
/* Circulos siguientes esconderlos */
.current-item ~ .step-wizard-item .progress-count:after{
   height:10px;
   width:10px;
}

.current-item ~ .step-wizard-item .progress-label{
    opacity: 0.5;
}
.current-item .progress-count:after{
    background: #fff;
    border: 2px solid #04B440;
}
.current-item .progress-count{
    color: #04B440;
}

/* Circulos siguientes esconderlos */
.current-item-cancel ~ .step-wizard-item .progress-count:after{
   height:10px;
   width:10px;
   background: #F8285A; 
}

.current-item-cancel ~ .step-wizard-item .progress-count:before{
    display: none;
}
.current-item-cancel ~ .step-wizard-item .progress-label{
    opacity: 0.5;
}


